# Ignore everything
*

# Un-ignore files with these extensions
!*.py
!*.md
!*.sh

# Don't ignore the .gitignore file itself
!.gitignore

# Ignore directories
__pycache__/
.cursor/
.pytest_cache/
dataset/
plots/
results_for_the_blog_post/